@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");

body {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  flex-direction: column;
}

.banner {
  position: relative;
  width: 100%;
  height: 80px;
}

.banner-title {
  font-family: "Heebo";
  font-weight: 600;
  font-size: 40px;
  padding: 10px;
}

.footer {
  width: 100%;
  height: 30px;
}

.body-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.scrollable-left-wrapper {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: scroll;
}

.scrollable-left-wrapper::-webkit-scrollbar {
  display: none;
}

.left-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.column-container {
  background-color: rgb(240, 240, 240);
  width: 100px;
  margin: 0px 5px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}

.date {
  font-size: 25px;
  font-family: "Heebo";
  text-align: center;
}

.outer-block-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.time-bar {
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: blue;
  top: 130px;
}

.inner-block-container {
  height: 100%;
}

.block {
  width: 100px;
  position: absolute;
}

/* sidebar  */

.sidebar-container {
  width: 255px;
  flex-shrink: 0;
  border: 1px solid rgb(230, 230, 230);
}

.sidebar-sub-containers {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

/* clock */

.clock-container {
  height: 100px;
}
.live-time {
  font-family: "Heebo";
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.standard-btn {
  border: 0px;
}
.standard-btn:active {
  background-color: lightgrey;
}

.do-not-register-click-events {
  pointer-events: none;
}

/* Settings */

.settings-container-title-and-x {
  display: flex;
  justify-content: space-between;
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.settings-container {
  border: 1px solid rgb(177, 177, 177);
}

.setting-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 10px;
  width: 240px;
  border: 1px solid rgb(163, 160, 160);
}

.setting-title {
  margin-right: 5px;
}

.setting-value {
  width: 170px;
  border: 0px;
}
.standard-settings-font-size-and-type {
  font-family: "Heebo";
  font-size: 18px;
}
.setting-btn {
  width: 100%;
}

.settings-hidden {
  visibility: hidden;
  height: 0;
  transition: 1s height;
  margin: 0;
}

/* Timers  */
.timers-container {
  border: 1px solid rgb(177, 177, 177);
}

.timers-sub-container {
  display: flex;
  flex-direction: column;
}

.timer {
  position: relative;
  width: 240px;
  margin: 3px;
  border: 1px solid rgb(175, 175, 175);
}

.timer-information {
  display: flex;
  top: 0;
  padding: 5px;
  box-sizing: border-box;
  left: 0;
  justify-content: space-between;
  width: 100%;
  height: 35px;
}

.timer-button-overlay {
  display: flex;
  position: absolute;
  height: 35px;
  top: 0;
  left: 0;
  justify-content: right;
  width: 100%;
}

.timer-button-overlay:hover .timer-start-stop-btn,
.timer-button-overlay:hover .timer-settings-btn {
  visibility: visible;
}

.timer-start-stop-btn {
  visibility: hidden;
  width: 80px;
}
.timer-settings-btn {
  visibility: hidden;
}

/* new timer   */

.temporary-timer-box {
  position: relative;
  width: 240px;
  margin: 3px;
}

.new-timer-buttons-container {
  display: flex;
  justify-content: space-between;
}

.timer-create-btn,
.timer-cancel-btn {
  width: 100%;
}

.new-timer-btn {
  width: 240px;
  height: 35px;
  margin-top: 3px;
}

.new-timer-name {
  z-index: 1;
  width: 232px;
}

.new-timer-buttons-hidden {
  height: 0;
  width: 0;
  margin: 0px;
  padding: 0;
  border: 0;
  visibility: hidden;
  pointer-events: none;
}
